***SERIES***
1. A Pandas Series is indeed a one-dimensional array-like data structure that can hold data of any type.
2.  It can be thought of as similar to a column in a table, but it's not limited to being used only as a representation of a table column. You can create a Series from various data collections like lists, arrays, or dictionaries.

In [2]:
import pandas as pd
a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

ThisTuple = ('rhythm','aryanm','pranav','harsh','akarsh')
sere = pd.Series(ThisTuple)
print(sere)

ThisDict = {'name1:':'rhythm','name2:':'pranav'}
serdict = pd.Series(ThisDict)
print(serdict)


ThisState = {'maharashtra':'mumbai','rajasthan':'jaipur','bihar':'patna','gujarat':'gandhinagar'}
seredict = pd.Series(ThisState)
print(seredict)
import numpy as np
arr = np.array([1,2,3])
print(arr)

0    1
1    7
2    2
dtype: int64
0    rhythm
1    aryanm
2    pranav
3     harsh
4    akarsh
dtype: object
name1:    rhythm
name2:    aryanm
name3:    pranav
name4:     harsh
name5:    akarsh
dtype: object
name1:    rhythm
name2:    pranav
dtype: object
maharashtra         mumbai
rajasthan           jaipur
bihar                patna
gujarat        gandhinagar
dtype: object
[1 2 3]

` When creating a Series, we can also pass an optional index attribute to specify custom index labels for the values. This allows  to access the elements using these index labels, and it's particularly useful when we want to provide meaningful labels or identifiers for the data points.`

In [4]:
data_list = [10, 20, 30, 40, 50]
series_from_list = pd.Series(data_list,index=[5,6,7,8,9])
print(series_from_list)



#index taking string
IndexString = ['n1','n2','n3','n4','n5']
print(series_from_list,IndexString)

5    10
6    20
7    30
8    40
9    50
dtype: int64
5    10
6    20
7    30
8    40
9    50
dtype: int64 ['n1', 'n2', 'n3', 'n4', 'n5']

***DataFrame***

A DataFrame is a two-dimensional, size-mutable, and heterogeneous tabular data structure in Pandas. It's designed to store and manipulate data in a way that's similar to a spreadsheet or a SQL table. *We* can think of a DataFrame as a collection of Pandas Series, where each Series represents a column and is aligned by index labels to form the rows of the DataFrame.

In [11]:

DataDict = {
    1: {
        'name': 'rhythm',
        'age': 19,
        'college': 'mit wpu'
    },
    2: {
        'name': 'Aryan sharma',
        'age': 20,
        'college': 'mit wpu'
    },
    3: {
        'name': 'akarsh singh',
        'age': 21,
        'college': 'mit wpu'
    }
}

df = pd.DataFrame(DataDict)

print(df)

               1             2             3
name      rhythm  Aryan sharma  akarsh singh
age           19            20            21
college  mit wpu       mit wpu       mit wpu

Accessing elements in a dataframe using two methods:
M-1: Using index:

In [12]:
for key in DataDict.keys():
    pdf = pd.DataFrame(DataDict)
    print(pdf[key]['name'])

rhythm
Aryan sharma
akarsh singh

In [ ]:
#add new column to dataframe
#  delete new column to dataframe
# add new row to dataframe
#delete row to dataframe
#access element to dataframe

adding_col = [[1,2,3],[4,5,6]]
adding_col.extend([7,8,9])
# add_col = pd.DataFrame(adding_col)

***Arithematic operations***

In [ ]:
#Arithematic operations
ser1 = pd.Series([1,2,3])
ser2 = pd.Series([4,5,6])

print(ser1+ser2)
print(ser1*ser2)
print(ser1-ser2)
print(ser1/ser2)
print(ser1%ser2)

0    5
1    7
2    9
dtype: int64
0     4
1    10
2    18
dtype: int64
0   -3
1   -3
2   -3
dtype: int64
0    0.25
1    0.40
2    0.50
dtype: float64
0    1
1    2
2    3
dtype: int64

In [ ]:
#dict of list
ThisNestedDict = {
    1:[1,2,3],
    2:[4,5,6],
    3:[7,8,9]
}


nes = pd.DataFrame(ThisNestedDict)

print(nes)

EmptyDict =  {}
emp = pd.DataFrame(EmptyDict)
print(emp)

#tuple of array
arr1 = np.array([1,2,3])
arr2 = np.array([4,5,6])
arr3 = np.array([7,8,9])

arrTuple = (arr1,arr2,arr3)
arrayData = pd.DataFrame(arrTuple)
print(arrayData)

# list of dict
ThList = [dict(name='rhythm',age=19),dict(college='mit wpu',name='aryan')]
dataf = pd.DataFrame(ThList)
print(ThList)

   1  2  3
0  1  4  7
1  2  5  8
2  3  6  9
Empty DataFrame
Columns: []
Index: []
   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
[{'name': 'rhythm', 'age': 19}, {'college': 'mit wpu', 'name': 'aryan'}]

In [ ]:
#dictionary of series
SerDict = dict(n1=ser1,n2=ser2)
SD = pd.DataFrame(SerDict)
print(SD)


#list of tuples
List_tuple = [(1,2,3),(4,5,6),(7,8,9)]
LT = pd.DataFrame(List_tuple)
print(LT)

   n1  n2
0   1   4
1   2   5
2   3   6
   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
#List of tuples
List_tuple = np.array([[1,2],[3,4],[5,6],[7,8],[9,10],[11,12],[13,14]])
tran_list = List_tuple.transpose()
print(tran_list)

[[ 1  3  5  7  9 11 13]
 [ 2  4  6  8 10 12 14]]